<div
  style="
    display: flex;
    height: 75vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
  "
>
  <div style="display: flex; flex-direction: row; width: 100%; height: 100%">
    <div class="block">Create new project</div>
    <div class="block">View existing projects</div>
    <div class="block">Track project process</div>
    <div class="block">Fund a project</div>
  </div>
  <div style="display: flex; flex-direction: row; width: 100%; height: 100%">
    <div class="block">Supply renewable energy</div>
    <div class="block">Request for renewable energy</div>
    <div class="block">Request fund for project</div>
    <div class="block">...</div>
  </div>
</div>
