.wrapper {
  background-color: green;
  display: grid;
  align-items: center;
  height: 100vh;
}

.wrapper button {
  width: 100px;
  display: block;
  margin: 0 auto;
  padding: 12px 16px;
  background-color: white;
}
#authbtns {
  display: none !important;
}
