<header style="display: flex; justify-content: space-between">
  <img
    src="../../../assets/Logo.png"
    alt="Image not available"
    width="100"
    height="150"
    style="cursor: pointer"
    routerLink="/auth/home"
  />
  <div
    id="authbtns"
    style="
      display: flex;
      width: 30%;
      justify-content: space-between;
      word-wrap: break-word;
    "
  >
    <button routerLink="/auth/login">Login</button>
    <button routerLink="/auth/register">Register</button>
  </div>
</header> 
<router-outlet></router-outlet>
<p style="align-self: center; position: absolute; bottom: 0; color: #236084">
  Copyright JuvinaeTech 2022
</p>
