button {
  height: 50px;
  align-self: center;
  width: 50%;
  margin: 3%;
  background-color: #236084;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 100%;
}
#registerbtn {
  background-color: #fff;
  color: #236084;
}
#registerbtnVisible {
  height: 50px;
  align-self: center;
  width: 50%;
  margin: 3%;
  background-color: #236084;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 100%;
}
