<header style="display: flex; justify-content: space-between">
  <img
    src="../../../assets/Logo.png"
    alt="Image not available"
    width="100"
    height="150"
  />
  <div
    id="authbtns"
    style="
      display: flex;
      width: 30%;
      justify-content: space-between;
      word-wrap: break-word;
    "
  >
    <button *ngIf="this.loginbtnsVisible === true">Login</button>
    <button *ngIf="this.loginbtnsVisible === false"></button>
    <button *ngIf="this.registerbtnsVisible === true" id="registerbtn">
      Register
    </button>
  </div>
</header>
<router-outlet></router-outlet>
