header {
  text-align: center;
  color: white;
}
button {
  height: 50px;
  align-self: center;
  background-color: #236084;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
}
#headerButtons label {
  color: black;
  border-bottom: 5px solid #236084;
  cursor: pointer;
  margin:1%
}