<div
  style="
    display: flex;
    height: 75vh;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  "
>
  <label style="align-self: center; font-size: 56px; font-weight: bold"
    >Dashboard</label
  >
  <span
    style="
      align-self: center;
      width: 50%;
      height: 5px;
      background: #236084;
      margin-bottom: 10px;
    "
  ></span>
  <div
    style="
      display: flex;
      width: 100%;
      height: 20%;
      flex-direction: row;
      align-items: center;
    "
  >
    <div
      style="width: 30%; height: 100%; background: #e4ccff; margin: 10px"
    ></div>
    <div style="width: 40%; height: 80%; background: #e4ccff"></div>
    <div
      style="width: 30%; height: 100%; background: #e4ccff; margin: 10px"
    ></div>
  </div>
  <span
    style="
      align-self: center;
      width: 50%;
      height: 5px;
      background: #236084;
      margin-top: 10px;
    "
  ></span>
  <label
    style="
      align-self: center;
      font-size: 28px;
      font-weight: bold;
      margin-top: 10px;
    "
    >Latest news</label
  >
  <div
    style="
      height: 10%;
      width: 80%;
      align-self: center;
      margin-top: 1%;
    "
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum nisi mi,
    vitae egestas nunc auctor in. Fusce convallis pulvinar mi eu pharetra.
    Praesent ut sapien volutpat, vulputate elit vitae, ornare urna. Aenean nisl
    neque, accumsan non risus vel, euismod ultrices urna. Praesent non porttitor
    elit, sit amet malesuada ipsum. Praesent egestas auctor nulla eu fermentum.
    Vestibulum congue cursus viverra. Vestibulum vitae enim posuere, commodo
    metus sed, fermentum metus. Nunc hendrerit tortor sit amet tincidunt
    scelerisque. Praesent commodo enim id magna laoreet faucibus. Integer
    sagittis dictum ligula eget sagittis. Suspendisse bibendum eros urna, sed
    hendrerit nisi congue vel. Proin ac porttitor tellus. Sed libero ex,
    ultricies a diam quis, lacinia lobortis enim. Nunc dignissim lacinia eros
    vitae commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
    ut nisl sapien. Integer et malesuada sem. Curabitur nec sapien velit. Ut
    massa neque, blandit eget volutpat ac, ullamcorper ac tortor. Nullam
    fermentum erat euismod faucibus commodo. Suspendisse at bibendum augue.
    Vestibulum laoreet sem ac facilisis consectetur. Interdum et malesuada fames
    ac ante ipsum primis in faucibus. Vestibulum blandit eleifend lacus, non
    dapibus enim facilisis non. Praesent blandit et libero non tristique. Fusce
    sit amet porttitor diam, vel elementum nisl. Cras orci ex, molestie nec diam
    et, laoreet sodales quam. Donec ultricies erat ut nisi gravida, quis
    scelerisque metus vehicula. Phasellus ante tellus, hendrerit ac erat vel,
    suscipit hendrerit neque. Phasellus placerat nisl at felis aliquet finibus.
    Quisque arcu orci, sollicitudin quis aliquam eu, finibus accumsan ipsum.
    Donec faucibus ex id fringilla lacinia. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. In at felis in lorem lacinia volutpat quis in
    neque. Morbi quis lorem vel turpis pretium fermentum. Proin nec suscipit
    velit. Nunc maximus libero nibh, eu sollicitudin mi cursus ac. Quisque
    sollicitudin sollicitudin diam id tempor. Orci varius natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Nulla sit amet erat
    velit. Quisque blandit lorem quis fermentum blandit. Fusce pharetra, leo
    semper convallis consectetur, felis sapien posuere massa, eu hendrerit ipsum
    nulla eget quam. Proin at augue dolor. Vivamus eu convallis diam. Interdum
    et malesuada fames ac ante ipsum primis in faucibus. Mauris fermentum sapien
    metus, id maximus risus vestibulum eget. Pellentesque lacinia interdum elit,
    vitae ultrices erat blandit in. Maecenas quam mi, porta eleifend leo sed,
    molestie sodales tortor. Aenean lacus tortor, interdum ac ultrices in,
    gravida non sapien. Maecenas vehicula faucibus arcu eget commodo. Donec
    mollis magna non consequat efficitur. Nam non consequat massa. Cras in
    sagittis felis. Nulla nec interdum nisl. Curabitur faucibus purus tortor, ut
    finibus sem gravida in. Donec non porta massa, nec rutrum magna. Praesent
    
    gravida non sapien. Maecenas vehicula faucibus arcu eget commodo. Donec
    mollis magna non consequat efficitur. Nam non consequat massa. Cras in
    sagittis felis. Nulla nec interdum nisl. Curabitur faucibus purus tortor, ut
    finibus sem gravida in. Donec non porta massa, nec rutrum magna. Praesent
    non enim ut dolor egestas tempor a vitae dolor. Nunc tortor arcu, efficitur
    ut ultrices ac, venenatis ve
    sagittis dictum ligula eget sagittis. Suspendisse bibendum eros urna, sed
    hendrerit nisi congue vel. Proin ac porttitor tellus. Sed libero ex,
    ultricies a diam quis, lacinia lobortis enim. Nunc dignissim lacinia eros
    vitae commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
    ut nisl sapien. Integer et malesuada sem. Curabitur nec sapien velit. Ut
    massa neque, blandit eget volutpat ac, ullamcorper ac tortor. Nullam
    fermentum erat euismod faucibus commodo. Suspendisse at bibendum augue.
    Vestibulum laoreet sem ac facilisis consectetur. Interdum et malesuada fames
    ac ante ipsum primis in faucibus. Vestibulum blandit eleifend lacus, non
    dapibus enim facilisis non. Praesent blandit et libero non tristique. Fusce
    sit amet porttitor diam, vel elementum nisl. Cras orci ex, molestie nec diam
  
    velit. Quisque blandit lorem quis fermentum blandit. Fusce pharetra, leo
    semper convallis consectetur, felis sapien posuere massa, eu hendrerit ipsum
    nulla eget quam. Proin at augue dolor. Vivamus eu convallis diam. Interdum
    et malesuada fames ac ante ipsum primis in faucibus. Mauris fermentum sapien
    metus, id maximus risus vestibulum eget. Pellentesque lacinia interdum elit,
    vitae ultrices erat blandit in. Maecenas quam mi, porta eleifend leo sed,
    molestie sodales tortor. Aenean lacus tortor, interdum ac ultrices in,
    gravida non sapien. Maecenas vehicula faucibus arcu eget commodo. Donec
    mollis magna non consequat efficitur. Nam non consequat massa. Cras in
    sagittis felis. Nulla nec interdum nisl. Curabitur faucibus purus tortor, ut
    finibus sem gravida in. Donec non porta massa, nec rutrum magna. Praesent
    non enim ut dolor egestas tempor a vitae dolor. Nunc tortor arcu, efficitur
    ut ultrices ac, venenatis vel mauris. Nunc luctus lorem sed ante iaculis
    condimentum. Nulla nec erat sit amet quam pretium hendrerit id in ante.
  </div>
</div>
